.intro{
    background-color: white;
    display: flex;
    .left{
        flex:0.5;
        overflow: hidden;
        .imgContainer{
            background-color: rgba(173,204,248,255);
            width: 900px;
            height: 910px;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: flex-end;
            float: left;
            img{
                width: 100%;
                height: 90%;
                
            }
        }
    }
    .right{
        flex:0.5;
    }
}
