.education {
    background-color: white;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        font-size: 50px;
    }

    .umsl {

        display: flex;
        align-items: flex-start;
        padding: 40px;
        margin-top: 20px;

        .logo {
            flex: 0.2;

            img {
                max-height: 150px;
            }
        }

        .c1 {
            flex: 0.8
        }

        h2 {
            margin-left: 10px;
        }

        h3 {
            margin-left: 4px;
            padding: 5px;
        }

        img {
            max-height: 130px;
            max-width: 250px;
        }

    }

    .experience {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;

        .worked {
            flex: 0.2;

            img {
                margin-top: 20px;
                max-height: 150px;
                max-width: 250px;
            }
        }

        .c2 {
            flex: 0.8;
        }

        h2 {
            margin-left: 10px;
        }

        h3 {
            margin-left: 4px;
            padding: 5px;
        }



    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        font-size: 20px;
        width: 20%;
    }




}