@import "../../global.scss";

.education {
    background-color: white;
    display: flex;
    flex-direction: column;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        font-size: 50px;

        @include mobile {
            font-size: 25px;
            margin-top: 5;
        }
    }

    .umsl {

        display: flex;
        align-items: flex-start;
        padding: 40px;
        margin-top: 20px;
        @include mobile {
            padding: 20px;
        margin-top: 20px;
        }

        .logo {

            flex: 0.2;

            @include mobile {
                display: flex;
                align-items: flex-start;
            }


            img {
                display: flex;
                max-height: 150px;

            }
        }

        .c1 {
            flex: 0.8
        }

        h2 {
            margin-left: 10px;

            @include mobile {
                font-size: 15px;
            }
        }

        h3 {
            margin-left: 4px;
            padding: 5px;

            @include mobile {
                font-size: 10px;
                padding: 2px;
            }
        }

        // img {
        //     max-height: 130px;
        //     max-width: 250px;
        // }

    }

    .experience {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;

        .worked {
            flex: 0.2;

            @include mobile {
                display: flex;
                align-items: flex-start;
            }

            img {
                margin-top: 20px;
                max-height: 150px;
                max-width: 250px;
            }
        }

        .c2 {
            flex: 0.8;
        }

        h2 {
            margin-left: 10px;
            

            @include mobile {
                font-size: 15px;
            }
        }

        h3 {
            margin-left: 4px;
            padding: 5px;

            @include mobile {
                font-size: 10px;
                padding: 2px;
            }
        }



    }

    .btn {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // margin-top: 40px;
        // font-size: 20px;
        width: 20%;

        @include mobile {
            margin-top: 30px;
            align-items: center;
            height: 60px;
            width: 180px;
            overflow: hidden;
        }
    }




}